# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!*.png
!go.sum
!go.mod

!README.md
!LICENSE

!build.sh
!/data
!/stitches
!/mcmeta-handler
!/configure

!/data/textures/
!/data/textures/16/
!/data/textures/16/*.png

# !Makefile
